@font-face{
	font-family: Corp Games;
	src: url("./fonts/corporation-games/Corporation\ Games.otf");
}

@font-face{
	font-family: Gotham-Medium;
	src: url("./fonts/gotham-cufonfonts/GothamMedium.ttf");
}

@font-face{
	font-family: Gotham-Black;
	src: url("./fonts/gotham-cufonfonts/Gotham-Black.otf");
}

body{
    margin: 0 auto;
    text-align: center;
    background: #04102d;
    align-items: center;
}
/* Title */
.title h1 {
    letter-spacing: 4px;
    font-size: 40px;
    margin: 25px;
    color: #fbfffe;
    font-family: Corp Games;
}

/* Nama Tim */
.nama-tim{
    margin: 0px;
    width: auto;
    background-color: rgb(117, 146, 209);
    border: none;
    font-family: Gotham-Medium;
    text-align: center;
    color:white;
    font-size: xx-large;
    border-radius: 15px;
    padding: 5px;
    height: 35px;
}


/* Countdown */
.countdown{
    display: flex;
}

.countdown .wrapper {
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid white;
    width: 40vw; 
    border-radius: 10px;  
    background: #fbfffe;     
}

.countdown h1{
    font-size: 70px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Gotham-Black;
}

.countdown span{
    font-size: 70px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Gotham-Black;
}

.countup{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cd-buttons button{
    border:none;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0;
    font-size: 2rem;
    font-family: Gotham-Medium;
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background: #ff7700;
}

.cd-buttons button:hover {
    background: #00b2ca;
    transition-duration: 0.5s;
}
.cd-buttons button:active {
    box-shadow: 0 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.cd-buttons button:last-child {
    margin-right: 0;
}

/* Counter */

.counter h1{
    font-size: 28px;
    font-weight: 700;
    color: #fbfffe;
    margin-bottom: 0px;
    font-family: Gotham-Black;
}

.counter{
    display: flex;
    width: 100%;
    justify-content: center;
}

.counter .wrapper {
    
    border: 2px solid white;
    width: 25vw; 
    border-radius: 10px;      
    margin: 0 160px; 
}
.ct-buttons {
    background: white;
}

#counter1, .btn1 {
    background: green;
}

#counter2, .btn2{
    background: blue;
}

#counter3, .btn3{
    background: red;
}

.count {
    font-family: Gotham-Black;
    font-size: 60px;
    color: #fbfffe;
    padding: 1rem 1rem;
}

#minus , #minus2 , #minus3{
    font-size: 2.1rem;
    color: #fbfffe;
}

#reset , #reset2 , #reset3{
    font-size: 2.4rem;
    color: #fbfffe;
}

.btn1 , .btn2 , .btn3{
    border:none;
    padding: 0.7rem 1rem;
    margin: 0;
    font-size: 35px;
    border: 3px solid #fff;
    border-radius: 10px;
    font-family: Gotham-Medium;    
    color: #fbfffe;
}

.ct-buttons button:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    opacity: 0.8;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content h1 {
	font-family: Gotham-Black;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
